<div class="container contain rounded shadow-sm">
  <form [formGroup]="updateForm">
    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <div class="form-control d-flex flex-column">
          <p class="h-blue">Course Title</p>
          <input formControlName="name" class="inputbox" placeholder="Course Title" type="text">
        </div>
      </div>

      <div class="col-md-6 col-12 mb-4">
        <div class="form-control d-flex flex-column">
          <p class="h-blue">Platform</p>
          <input formControlName="platform" class="inputbox" placeholder="Platform" type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 mb-4">
        <div class="form-control d-flex flex-column">
          <p class="h-blue">Description</p>
          <textarea formControlName="description" class="inputbox"></textarea>
        </div>
      </div>

      <div class="col-md-6 col-12 mb-4">
        <div class="form-control d-flex flex-column">
          <p class="h-blue">Course Link</p>
          <input formControlName="link" class="inputbox" type="text">
        </div>
      </div>
    </div>



    <p class="h-blue">Course Status</p>
    <div class="row">
      <div class="col-md-2 pe-0 col-sm-12">
        <div class="btn radio-btn mb-3">

          <label class="radio">
            <input formControlName="isCompleted" type="radio" value="true" name="isCompleted">
            Completed <span>
            </span>
          </label>
        </div>
      </div>


      <div class="col-md-2 pe-0 col-sm-12">
        <div class="btn radio-btn mb-3">
          <label class="radio">
            <input formControlName="isCompleted" type="radio" value="false" name="isCompleted"> Pending
            <span></span>
          </label>
        </div>
      </div>

    </div>
    <button (click)="updateCourse()" type="submit" class="btn btn-primary form-control text-center"
      [disabled]="updateForm.invalid || updateForm.pristine">
      Update CourseInfo
    </button>
  </form>
</div>
